.navbar-fixed-top {
    min-height: 80px;
}

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
    line-height: 20px;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
    }
    .navbar-header > .navbar-brand > a > img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

@font-face {
    font-family: myFirstFont;
    src: url('../../assets/Pacifico.ttf');
}

.newbc{
    font-size: 40px;
    font-family: myFirstFont;
}

a{
    font-family: myFirstFont;
}

body{
    font-family: myFirstFont;
}

.navbar {
    margin-bottom: 0;
}